.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 20px;
}

.captionBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35%;
}

.primaryText {
  font-size: 3em; //45px;
}

.secondaryText {
  font-size: 1em;
}

.imgContainer {
  width: 65%;
}

.imgContainerMobile {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .captionBox {
    width: 100%;
    margin-bottom: 5px;
  }

  .leftText {
    text-align: left;
  }

  .rightText {
    text-align: right;
  }
}