.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 20px;
}

.captionBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vw;
}

.primaryText {
  font-size: 45px;
}

.secondaryText {
  font-size: 15px;
}

.img {
  // width: 50%;
}