.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0px;
  grid-auto-rows: auto-fit;
  padding: 20px;
}

/* Media query to limit the columns to 3 for wider screens */
@media screen and (min-width: 768px) {
  .gridLayout {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  padding: 8px;
  transition: transform 0.1s ease-in-out;
}

.card h1 {
  white-space: nowrap;
  font-size: 25px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    /* background-color: rgba(var(--brand-color), 1); */
    box-shadow: 0 0 15px rgba(33, 33, 33, .8);
    cursor: pointer;
    transform: scale(1.03)
  }
}

.cardHeading {
  display: flex;
  flex-direction: row;
}

.pill {
  width: 80px;
  height: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(203, 250, 188);
  border-color: rgb(71, 213, 24);
  margin-left: auto;

  text-align: center;
  color: rgb(71, 213, 24);
}