.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0px; //20px;
  grid-auto-rows: auto-fit;
  padding: 20px;
}

/* Media query to limit the columns to 3 for wider screens */
@media screen and (min-width: 768px) {
  .gridLayout {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridElem {
  // border-radius: 15px;
  padding: 8px;
}

.gridElem h1 {
  white-space: nowrap;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .gridElem:hover {
    /* background-color: rgba(var(--brand-color), 1); */
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    cursor: pointer;
    /* border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }
}