.header {
  display: flex;
  position: relative;
  justify-content: center;
}

.imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
  z-index: 0.9;
  /* Ensure it's above the image */
}

.logo {
  position: absolute;
  float: left;
  width: 6vw;
  height: 6vw;
  margin: 2%;
  z-index: 1;
}

.title {
  color: white;
  z-index: 1;
  position: absolute;
  margin-top: 0%;
  font-size: 6vw;
  font-family: 'apple chancery';
}