.header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 101vh;
}

.img {
  object-fit: cover;
}

.imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 99%, rgba(255, 255, 255, 1) 100%);
  z-index: 1;
}

.textContainer {
  color: white;
  z-index: 2;
  position: absolute;
  margin-top: 6%;
  text-align: center;
}

.title {
  font-size: 8em;
  margin-bottom: -33px;
}

.subTitle {
  font-size: 1.6em;
}

.actionBtnLink {
  position: absolute;
  align-self: center;
  margin-top: 400px;
  z-index: 2;
  border-radius: 8px;
}

.actionBtn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 8px;

  padding-inline: 40px;
  padding-block: 15px;

  font-size: 1.5em;
}

.actionBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

/* Re-done header styles (border with pinstripe
 .header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100vh;
  background-color: var(--brand-color);
  padding: 30px;
  box-sizing: border-box;
}

.pinstripe {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  padding: 5px;
  box-sizing: border-box;
}

.outlineBox {
  align-self: center;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  box-sizing: border-box;
}
 */