/* The Modal (background) */
.modal {
  display: flex;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  padding: 1%;
  width: 80%;
  border-radius: 15px;
}

/* The Close Button */
@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.close {
  @include cross(30px, #000, 3px);
  float: right;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}