.main {
  align-items: center;
  min-height: 100vh;
  background-color: #faecd6;
  color: black;
}

.banner {
  text-align: center;
  background-color: var(--brand-color);
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.aboutSection {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding-inline: 5%;
  padding-block: 5%;
}

.aboutHeading {
  margin-left: 5%;
  margin-bottom: 20px;
  font-size: 25px;
}

.aboutText {
  text-align: justify;
}